<app-item-navbar></app-item-navbar>
<section class="">
    <header>
        <div class="myheader">
            <div class="contenedor">
                <h1>Café Las Flores</h1>
                <h2>Veracruz, México</h2>
                <hr>
                <p>Somos una distribuidora de cafe dedicada a vender y entregar el mejor cafe a nuestros clientes, desde cordoba hasta orizaba ¡y con una amplia variedad de presentaciones nuestro cafe las flores es 100% natural y 100% recomendado para todo hogar y establecimiento! ¿Te lo vas a perder?</p>
            </div>
        </div>
    </header>
    <section class="contenido">
        <div class="serie-img">
            <div class="" id="img-1">
                <img src="../../assets/cafe-taza.png">
            </div>
            <div class=" mi-img">
                <img src="../../assets/cafe-taza.png">
            </div>
            <div class=" mi-img">
                <img src="../../assets/cafe-taza.png">
            </div>
            <div class=" mi-img">
                <img src="../../assets/cafe-taza.png">
            </div>
        </div>
        <section class="publicidad">
            <section class="oferta">
                <section class="texto col-12 col-lg-6 text-center text-lg-start">
                    <h2>¿Una tacita de café delux?</h2>
                    <hr>
                    <p>Encuentra el mejor café de grano de lujo a tu servicio en toda nuestra región ¡YA DISPONIBLE!</p>
                    <button class="mybtn mybtn-brown" (click)="tienda()">
                        Ir allá
                    </button>
                </section>
            </section>
        </section>
    </section>
</section>
<app-item-footer></app-item-footer>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

