<section class="iniciar-sesion">
    <section class="tarjeta-inicio">
        <h1>Regístrate</h1>
        <label for="exampleInputEmail1" class="form-label">Correo</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <label for="inputPassword6" class="col-form-label">Contraseña</label>
        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
        <label for="inputPassword6" class="col-form-label">Repite Contraseña</label>
        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
        <section class="botones">
            <button type="submit" class="mybtn mybtn-red">Regístrate</button>
            <button type="submit" class="mybtn mybtn-dark">¿Ya tienes una cuenta? Inicia Sesión</button>
        </section>
        </section>
</section>