<section class="item-producto">
    <section class="producto">
        <h3>Nombre del Producto</h3>
        <section class="info">
            <p class="campo">Producto</p>
            <p>Aquí va el Producto</p>
        </section>
        <section class="info">
            <p class="campo">Cantidad</p>
            <p>0 pz</p>
        </section>
        <section class="info">
            <p class="campo">Tipo</p>
            <p>Tipo de Producto</p>
        </section>
        <section class="botones">
            <button class="mybtn mybtn-dark">Eliminar</button>
            <button class="mybtn mybtn-dark">Agregar Otro</button>
        </section>
    </section>
    <section class="precio">
        <p class="costo">$00.00 MXN</p>
    </section>

</section>