<app-item-navbar></app-item-navbar>
<section class="tienda">
    <section class="encabezado">
        <h1>Café Las Flores</h1>
        <h2>Tienda en Linea</h2>
    </section>
    <section class="productos">
        <section class="fila">
            <app-item-card></app-item-card>
            <app-item-card></app-item-card>
            <app-item-card></app-item-card>
            <app-item-card></app-item-card>
            <app-item-card></app-item-card>
            <app-item-card></app-item-card>
            <app-item-card></app-item-card>
            <app-item-card></app-item-card>
            <app-item-card></app-item-card>
            <app-item-card></app-item-card>
            <app-item-card></app-item-card>
        </section>
    </section>
</section>
<app-item-footer></app-item-footer>