<app-item-navbar></app-item-navbar>
<section class="lista">
    <h2>Café Las Flores</h2>
    <h1>Carrito de Compras</h1>
    <section class="lista-productos">
        <app-item-carrito></app-item-carrito>
        <app-item-carrito></app-item-carrito>
        <app-item-carrito></app-item-carrito>
        <app-item-carrito></app-item-carrito>
        <app-item-carrito></app-item-carrito>
    </section>
    <hr>
    <section class="">
        <p>Cantidad de Productos:</p>
        <p>10</p>
        <p>Total:</p>
        <p>$10.00 MXN</p>
        <button class="mybtn mybtn-dark">Pagar</button>
    </section>
</section>

<app-item-footer></app-item-footer>