<app-item-navbar></app-item-navbar>
<section class="inicio">
    <h1>Café Las Flores</h1>
    <p>Sucursales</p>
    <section class="serie-imagenes">
        <p>
            <a class="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                <img src="../../assets/cafe-taza.png">
            </a>
        </p>
        <p>
            <a class="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                <img src="../../assets/cafe-taza.png">
            </a>
        </p>
        <p>
            <a class="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                <img src="../../assets/cafe-taza.png">
            </a>
        </p>
        <p>
            <a class="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                <img src="../../assets/cafe-taza.png">
            </a>
        </p>
        <p>
            <a class="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                <img src="../../assets/cafe-taza.png">
            </a>
        </p>
    </section>

    <div class="informacion">
        <section class="info">
            <div class="campo">Nombre</div>
            <div class="dato">Aquí va el nombre.</div>
        </section>
        <div class="info">
            <div class="campo">Ciudad</div>
            <div class="dato">Aquí va el ciudad.</div>
        </div>
        <div class="info">
            <div class="campo">Dirección</div>
            <div class="dato">Aquí va el dirección.</div>
        </div>
        <div class="info">
            <div class="campo">Teléfono</div>
            <div class="dato">Aquí va el teléfono.</div>
        </div>
    </div>
</section>
<section class="banda-img">
    <div class="imagen" id="img-1"></div>
    <div class="imagen" id="img-2"></div>
</section>
<section class="banda">
    <h1>¿Qué es café las flores?</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, velit est porro maiores veritatis, laudantium deserunt voluptates amet quisquam neque soluta nostrum! Facilis expedita atque accusamus sint. Officiis, illo. Similique! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, velit est porro maiores veritatis, laudantium deserunt voluptates amet quisquam neque soluta nostrum! Facilis expedita atque accusamus sint. Officiis, illo. Similique!</p>
</section>
<section class="banda-img">
    <div class="imagen" id="img-3"></div>
    <div class="imagen" id="img-4"></div>
</section>
<section class="banda">
    <h1>Quiero un café</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, velit est porro maiores veritatis, laudantium deserunt voluptates amet quisquam neque soluta nostrum! Facilis expedita atque accusamus sint. Officiis, illo. Similique! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, velit est porro maiores veritatis, laudantium deserunt voluptates amet quisquam neque soluta nostrum! Facilis expedita atque accusamus sint. Officiis, illo. Similique!</p>
</section>
<section class="banda-img">
    <div class="imagen" id="img-5"></div>
    <div class="imagen" id="img-6"></div>
</section>
<app-item-footer></app-item-footer>