<app-item-navbar></app-item-navbar>
<section class="banda-img">
    <div class="imagen" id="img-1"></div>
    <div class="imagen" id="img-2"></div>
</section>
<section class="banda">
    <h1>¿Qué es café las flores?</h1>
    <p>{{info.descripcion}}</p>
</section>
<section class="banda-img">
    <div class="imagen" id="img-3"></div>
    <div class="imagen" id="img-4"></div>
</section>

<section class="banda-img">
    <div class="imagen" id="img-5"></div>
    <div class="imagen" id="img-6"></div>
</section>
<app-item-footer></app-item-footer>
