<section class="iniciar-sesion">
    <section class="tarjeta-inicio">
        <h1>Iniciar Sesión</h1>
        <label for="exampleInputEmail1" class="form-label">Correo</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <label for="inputPassword6" class="col-form-label">Contraseña</label>
        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
        <section class="botones">
            <button type="submit" class="mybtn mybtn-red"><a href="http://localhost:4200">Iniciar Sesión</a></button>
            <button type="submit" class="mybtn mybtn-dark"><a href="http://localhost:4200/signin">¿Aún no tienes una cuenta? Regístrate</a></button>
        </section>
        </section>
</section>
