<section class="container">

  <app-item-navbar></app-item-navbar>

  <section class="row mt-5 justify-content-center">
    <section class="col-12 col-md-4 text-center">
      <h1>Distribuidora de Café Las Flores</h1>
    </section>
  </section>

  <section class="row mt-5">
    <section class="col-12 text-center">
      <h2>Tienda</h2>
    </section>
  </section>

  <section class="tienda">
    <section class="row mt-5 justify-content-center">
      <section class="col-10 col-sm-6 col-lg-3 mt-4 mt-lg-0">
        <app-item-card></app-item-card>
      </section>
      <section class="col-10 col-sm-6 col-lg-3 mt-4 mt-lg-0">
        <app-item-card></app-item-card>
      </section>
      <section class="col-10 col-sm-6 col-lg-3 mt-4 mt-lg-0">
        <app-item-card></app-item-card>
      </section>
      <section class="col-10 col-sm-6 col-lg-3 mt-4 mt-lg-0">
        <app-item-card></app-item-card>
      </section>
    </section>

    <section class="row justify-content-center mt-5 mb-5">
        <section class="col-auto">
            <button class="btn btn-primary">Ir a la Tienda</button>
        </section>
    </section>

    <hr>

    <section class="oportunidades mt-5 mb-5 pt-5 pb-5">
        <section class="row">
            <section class="col-10 offset-1 text-center text-md-start ">
                <h2>Oportunidades</h2>
                <button class="btn btn-primary mt-3">Ver más</button>
            </section>
        </section>
    </section>

    <hr>

    <section class="quienessomos  mt-5 mb-5">
      <section class="row justify-content-center align-items-center">
          <section class="col-md-7 offset-lg-1 mt-sm-3 order-2">
              <h2>¿Quiénes somos?</h2>
              <p>Desde las Altas Montañas, una empresa orgullosamente veracruzana.</p>
              <button class="btn btn-primary mt-2">Ver más</button>
              
          </section>
          <section class="col-md-5 col-lg-4 order-1">
              <img class="figure-img img-fluid rounded" src="https://images.unsplash.com/photo-1447933601403-0c6688de566e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1061&q=80">
          </section>
      </section>
    </section>
  </section>
</section>

<section class="footer mt-5 bg-dark p-4">
  <app-item-footer></app-item-footer>
</section>