.pagina{
    height: 100vh;
    background-color: #121212;
    color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pagina .contenido h1{
    margin: 2rem 0;
}

.pagina .contenido button{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.pagina .contenido p a{
    color: #f2f2f2;
}

@media screen and (max-width:991px){
    .pagina{
        padding: 1.5rem;
    }
}