<section class="container">
    <section class="row pt-5 pb-5 justify-content-center">
        <section class="col">
            <section class="row">
                <section class="col-12 col-lg-6 text-light p-0">
                    <label>Con el sabor de las Altas Montañas</label>
                    <h3>Distribuidora de Café Las Flores</h3>
                </section>
                <section class="col-12 mt-4 col-lg-6 mt-lg-0">
                    <section class="row">
                        <section class="col list-group text-light">
                            <h4>Páginas</h4>
                            <a href="">Inicio</a>
                            <a href="">Sucursales</a>
                            <a href="">Nosotros</a>
                            <a href="">Oportunidades</a>
                            <a href="">Contacto</a>
                        </section>
                        <section class="col list-group text-light">
                            <h4>Sucursales</h4>
                            <a href="">Córdoba</a>
                            <a href="">Orizaba</a>
                            <a href="">Fortin</a>
                        </section>
                    </section>
                </section>
            </section>
        </section>
</section>